* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
.rating-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
body{
    background-color: black;
}
.rating-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    padding: 30px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.rating-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.rating-text-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ffd700;
}

.rating-text-container h3 {
    font-size: 1.2rem;
    color: #ddd;
}

.rating-info {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #ccc;
    background-color: #333;
    border-radius: 10px;
    margin-bottom: 30px;
    @media(max-width: 390px) {
        gap: 10px;
        font-size: 1rem;
    }
}

.users-container {
    width: 100%;
    .active {
        background-color: #676565;
    }
}

.rating-user {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 12px;
    border: 2px solid #444;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.rating-user:hover {
    transform: scale(1.01);
}
.rating-user p {
    margin: 0 10px;
}

.rating-user p:first-child {
    font-weight: bold;
    color: #fff;
}

.rating-user p:last-child {
    color: #ffd700;
}
